<form action="/api/v1/admin/changePassword" method="POST" id="passwordChange-form" novalidate>
    <label for="emailAddress">
      E-MAIL:                                                 
      <input type="email" name="emailAddress" id="emailAddress">
    </label>
    <br>
    <label for="oldPassword">
      OLD PASSWORD :                                                 
      <input type="password" name="oldPassword" id="oldPassword">
    </label>
    <br>
    <label for="newPassword">
      NEW PASSWORD :                                                 
      <input type="password" name="newPassword" id="newPassword">
    </label>
    <br>
    <label for="confirmPassword">
      CONFIRM PASSWORD :                                                 
      <input type="password" name="confirmPassword" id="confirmPassword">
    </label>
    <br>
    <button type="submit">CHANGE PASSWORD</button>
</form>

<p id="error">{{error}}</p> 
<a href="/api/v1/admin/homepage">BACK TO HOMEPAGE</a>

