<form action='/update-session/{{session._id}}' method='POST'>
  <!-- Include input fields for editing session details -->
  <!-- Example: <input type="text" name="name" value="{{session.name}}" /> -->

  <button type='submit'>Save Changes</button>
</form>