<div class="wrapper">
  <h1>Login</h1>
  {{#if hasErrors}}
    <div class="error-message">
      <ul>
        {{#each errors}}
          <li>
            {{this}}
          </li>
        {{/each}}
      </ul>
    </div>
  {{/if}}
  <div id="errorContainer" class="alert alert-danger" hidden=""></div>
  <form id="loginForm" method="post" action="/trainer/login">
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required="">
    <br>

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required="">
    <br>

    <input type="submit" value="Login">
  </form>
  <a href="/">Go back to Home Page</a>
</div>

<script src="/public/js/trainer/validateLogin.js"></script>