<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <title>{{title}}</title>
    <link rel='stylesheet' href='/public/css/site.css' />
  </head>
  <body>
    {{{body}}}
    <script src='/public/js/main.js'></script>
  </body>
</html>