<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{title}}</title>
    </head>
    <link rel="stylesheet" href="/public/css/userProfile.css ">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="icon" type="image/jpeg" href="/public/imgs/gymMate_fevicon.jpeg" />

    <body>
        <nav class="navbar bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand m-2" href="/user/home">GymMate</a>
                <div class="d-flex flex-row-reverse">
                    <form class=" m-2" role="search" action="/user/profile" method="get">
                        <button class="btn btn-success" type="submit">Profile</button>
                    </form>

                    <form class=" m-2" role="search" action="/user/logout" method="get">
                        <button class="btn btn-danger" type="submit">Logout</button>
                    </form>
                </div>
            </div>
        </nav>


        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div id="content" class="content content-full-width">
                        <div class="profile">
                            <div class="profile-header">
                                <div class="profile-header-cover"></div>
                                <div class="profile-header-content">
                                    <div class="profile-header-img">
                                        <img src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="">
                                    </div>
                                    <div class="profile-header-info">
                                        <h4 class="m-t-10 m-b-5">Sean Ngu</h4>
                                        <p class="m-b-10">UXUI + Frontend Developer</p>
                                        <a href="/user/profile/edit" class="btn btn-sm btn-info mb-2">Edit Profile</a>
                                    </div>
                                </div>
                                <ul class="profile-header-tab nav nav-tabs">
                                    <li class="nav-item"><a
                                            href="https://www.bootdey.com/snippets/view/bs4-profile-with-timeline-posts"
                                            target="__blank" class="nav-link_">POSTS</a></li>
                                    <li class="nav-item"><a href="/user/events"
                                            target="__blank" class="nav-link_">EVENTS</a></li>
                                    <li class="nav-item"><a href="https://www.bootdey.com/snippets/view/profile-videos"
                                            target="_blank" class="nav-link">FOLLOWERS</a></li>
                                    <li class="nav-item"><a
                                            href="https://www.bootdey.com/snippets/view/bs4-profile-friend-list"
                                            target="_blank" class="nav-link active show">FOLLOWING</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="profile-content">
                            {{{body}}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>

    </body>

</html>