<ol>
  <li>
    <section id='user-section'>
      <h2>User Section</h2>
      <a href='/login'><button>Login</button></a>
      <a href='/user/signup'><button>Signup</button></a>
    </section>
  </li>
  <li>
    <section id='trainer-section'>
      <h2>Trainer Section</h2>
      <a href='/login'><button>Login</button></a>
      <a href='/trainer/signup'><button>Signup</button></a>
    </section>
  </li>
  <li>
    <section id='gym-section'>
      <h2>Gym Section</h2>
      <a href='/login'><button>Login</button></a>
      <a href='/gym/signup'><button>Signup</button></a>
    </section>
  </li>
</ol>