.main-dashboard-content {
  background-color: rgba(48, 43, 43, 0.735);
}
.activity-done {
  font-weight: 600;
}

.list-group li {
  margin-bottom: 12px;
}

.sessionlist li {
  list-style: none;
  padding: 10px;
  margin-top: 12px;
  width: 90%;
  /*box-shadow: rgba(213, 217, 217, 0.5) 0 2px 5px 0;
  margin-top: 12px;
  border: 1px solid #d5d9d9;
  border-radius: 8px;
  */
}
.sessionlist-container {
  display: flex;
}

.active-list,
.inactive-list {
  list-style: none;
  margin-top: 12px;
  padding: 10px;
  width: 90%;
  /*box-shadow: rgba(213, 217, 217, 0.5) 0 2px 5px 0;
  border: 1px solid #d5d9d9;
  border-radius: 8px;
  width: 50%;
  */
}
.date-time {
  font-size: 12px;
}

#form-error-style {
  margin-top: 20px;
  padding: 10px;
  background-color: #ffcccc;
  border: 1px solid #ff6666;
  border-radius: 4px;
  color: #cc0000;
  font-size: 14px;
  text-align: left;
}
