{{#unless hasData}}
<a href="/user/create/newPosts">CLICK HERE TO TRY AGAIN</a>
{{/unless}}

{{#if hasData}}
<form id="entity-display" action="/user/create/newPosts" method="POST" novalidate>
    <label for="title">
        TITLE :                                                 
        <input type="text" name="title" id="title" >
    </label>
    <br>
    <label for="img">
        IMAGE :                                                 
        <input type="text" name="img" id="img">
    </label>
    <br>
    <label for="description">
         DESCRIPTION:                                                 
        <input type="text" name="description" id="description">
    </label>
    <br>
    <label for="comment">                                                 
        <textarea name="comment" placeholder="First Comment.." id="comment"></textarea>
    </label>
    <br>
    <button type="submit">ADD POST</button>
</form>
{{/if}}

{{#unless hasData}}
<p id="error">{{error}}</p>
{{/unless}}

<a href="/user/posts">GO BACK TO POSTS PAGE</a>

