<div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div id="content" class="content content-full-width">
                    <div class="profile">
                        <div class="profile-header">
                            <div class="profile-header-cover"></div>
                            <div class="profile-header-content">
                                <div class="profile-header-img">
                                    <img src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="">
                                </div>
                                <div class="profile-header-info">
                                    <h4 class="m-t-10 m-b-5">{{user.userName}}</h4>
                                    <p class="m-b-10">{{user.firstName}} {{user.lastName}}</p>
                                    <p>{{user.bio}}</p>
                                </div>
                                <a href="/follow" class="btn btn-sm btn-info mb-2">follow</a>
                            </div>
                            <ul class="profile-header-tab nav nav-tabs">
                                <li class="nav-item"><a href="#posts" class="nav-link">POSTS</a></li>
                                <li class="nav-item"><a href="#events" class="nav-link">EVENTS</a></li>
                                <li class="nav-item"><a href="#followers" class="nav-link">FOLLOWERS</a></li>
                                <li class="nav-item"><a href="#following" class="nav-link active">FOLLOWING</a></li>
                            </ul>

                        </div>
                    </div>
                    <div class="profile-content">
                        <div id="posts" class="tab-content">Posts content</div>
                        <div id="events" class="tab-content">Events content</div>
                        <div id="followers" class="tab-content">Followers content</div>
                        <div id="following" class="tab-content active">Following content</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>